input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
  padding-left: 20px;
  text-align: left;
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  letter-spacing: 1px;
  padding-left: 20px;
  text-align: left;
  color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
  letter-spacing: 1px;
  padding-left: 20px;
  text-align: left;
  color: black;
}

:-ms-input-placeholder {
  letter-spacing: 1px;
  padding-left: 20px;
  text-align: left;
  color: black;
}

.jumbotron {
  height: 100vh;
}

.form-signin {
  position: relative;
  width: 400px;
  z-index: 1;
}

.glass-search {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  margin-top: 9%;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}
.glass-search:after {
 content: '';
 width: 400px;
 height: 250px;
 background: inherit;
 position: absolute;
 left: -25px;
 top: -25px;
 filter: blur(14px);
}

.glass-signin-join {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 9%;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}
.glass-signin-join:after {
 content: '';
 width: 400px;
 height: 400px;
 background: inherit;
 position: absolute;
 left: -25px;
 top: -25px;
 filter: blur(14px);
}

.form-btn {
  letter-spacing: 2px;
  border-radius: 2px;
  position: absolute;
  border: none;
  width: 300px;
  height: 46px;
  left: 12.5%;
}

.form-ui {
  border-bottom: solid thin;
  border-radius: 2px;
  position: absolute;
  border-right: none;
  border-left: none;
  background: none;
  border-top: none;
  width: 300px;
  height: 46px;
}

img:hover {
  cursor: pointer;
}

#error {
	visibility: hidden;
	text-align: center;
	position: absolute;
	height: 45px;
	width: 250px;
	letter-spacing: 1px;
	background: #c0392b;
	font-size: 0.7em;
	border-radius: 5px;
	padding: 6px;
	color: #fff;
}

#searchbg, #homebg, #loginbg, #accountbg {
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#searchbg, #homebg {
  background-image: url("../Assets/field.jpg");
}
#loginbg {
  background-image: url("../Assets/ball.jpg");
}
#accountbg {
  background-image: url("../Assets/helmet.jpg");
}
